.counters {
    position: relative;
    z-index:5 ;
}

.counters .card{ 
background-color: rgb(0,0,0,0.444);
text-align: center;

}

.swiper-pagination-bullet-active {
    background: var(--color1) !important;
}